In [4]:
import pandas as pd

print('sdf')

sdf

In [5]:
data = {
    'Name': ['John', 'Anna', 'Peter'],
    'Age': [28, 24, 35],
    'City': ['New York', 'Paris', 'Berlin']
}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin

In [6]:
df.size

9

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin

In [9]:
import numpy as np

npdata = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(npdata)
print(npdata.shape)
print(npdata.size)
print(npdata.dtype)
print(npdata.ndim)
print(npdata.itemsize)
print(npdata.nbytes)
print(npdata.T)
print(npdata.flatten())
print(npdata.reshape(1, 9))
print(npdata.reshape(3, 3))
print(npdata.reshape(9, 1))
print(npdata.reshape(3, 3, 1))
print(npdata.reshape(3, 3, 1).shape)
print(npdata.reshape(3, 3, 1).ndim)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)
9
int64
2
8
72
[[1 4 7]
 [2 5 8]
 [3 6 9]]
[1 2 3 4 5 6 7 8 9]
[[1 2 3 4 5 6 7 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]
 [9]]
[[[1]
  [2]
  [3]]

 [[4]
  [5]
  [6]]

 [[7]
  [8]
  [9]]]
(3, 3, 1)
3

In [10]:
df = pd.read_csv('./warmup-data/coffee.csv')
print(df)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [11]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['A', 'B', 'C'], index=['x', 'y', 'z'])
print(df)

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [12]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [14]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [15]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [16]:
df['A'].unique()

array([1, 4, 7])

In [17]:
df['A'].nunique()

3

In [18]:
df.shape

(3, 3)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [21]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [22]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [25]:
results = pd.read_parquet('./data/results.parquet')

In [26]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [27]:
olympics_data = pd.read_excel('./data/olympics-data.xlsx')

In [28]:
olympics_data.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [29]:
bios = pd.read_csv('./data/bios.csv')
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [30]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [31]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [32]:
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [34]:
coffee.sample(10)

          Day Coffee Type  Units Sold
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
0      Monday    Espresso          25
3     Tuesday       Latte          20
7    Thursday       Latte          30
4   Wednesday    Espresso          35
13     Sunday       Latte          35
8      Friday    Espresso          45
5   Wednesday       Latte          25
10   Saturday    Espresso          45

In [35]:
coffee.loc(0)

In [36]:
print(coffee.loc(0))

<pandas.core.indexing._LocIndexer object at 0x11f351720>

In [37]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [39]:
coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [49]:
coffee.iloc[:, [0, 2]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [50]:
coffee.index = coffee['Day']

In [51]:
coffee

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [53]:
coffee.loc['Monday':"Wednesday"]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

In [55]:
coffee.loc['Monday', 'Units Sold'] = 20

In [56]:
coffee.loc[:]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          20
Monday        Monday       Latte          20
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [57]:
coffee.head()

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          20
Monday        Monday       Latte          20
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35

In [67]:
coffee.iat[0, 0]

'Monday'

In [75]:
coffee.sort_values(['Units Sold', 'Coffee Type'], ascending=[0, 1])

                 Day Coffee Type  Units Sold
Day
Friday        Friday    Espresso          45
Saturday    Saturday    Espresso          45
Sunday        Sunday    Espresso          45
Thursday    Thursday    Espresso          40
Wednesday  Wednesday    Espresso          35
Friday        Friday       Latte          35
Saturday    Saturday       Latte          35
Sunday        Sunday       Latte          35
Tuesday      Tuesday    Espresso          30
Thursday    Thursday       Latte          30
Wednesday  Wednesday       Latte          25
Monday        Monday    Espresso          20
Monday        Monday       Latte          20
Tuesday      Tuesday       Latte          20

Monday Espresso 20



Monday Latte 20



Tuesday Espresso 30



Tuesday Latte 20



Wednesday Espresso 35



Wednesday Latte 25



Thursday Espresso 40



Thursday Latte 30



Friday Espresso 45



Friday Latte 35



Saturday Espresso 45



Saturday Latte 35



Sunday Espresso 45



Sunday Latte 35

In [79]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [80]:
bios.head(10)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,NaN,NaN,1987-04-02
8,9,Marcel Cousin,1896-08-04,Nîmes,Gard,FRA,France,NaN,NaN,1986-08-01
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,1923-08-27

In [81]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [83]:
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]

                         name  height_cm
5089       Viktor Pankrashkin      220.0
5583     Paulinho Villas Boas      217.0
5673           Gunther Behnke      221.0
5716                 Uwe Blab      218.0
5781           Tommy Burleson      223.0
5796            Andy Campbell      218.0
6223              Lars Hansen      216.0
6270              Hu Zhangbao      216.0
6409         Sergey Kovalenko      216.0
6420            Jānis Krūmiņš      218.0
6504              Luc Longley      220.0
6722         Shaquille O'Neal      216.0
6937           David Robinson      216.0
6978          Arvydas Sabonis      223.0
7074           Paulo da Silva      217.0
7188       Vladimir Tkachenko      220.0
7281         Stojko Vranković      217.0
7376      Eurelijus Žukauskas      218.0
52608         Aleksey Kazakov      217.0
82100           Frédéric Weis      218.0
89070                Yao Ming      226.0
89075          Roberto Dueñas      221.0
107408       Peter John Ramos      219.0
112312           Stanko Barać      217.0
112332    Andreas Glyniadakis      216.0
112337          Hamed Haddadi      218.0
118663         Timofey Mozgov      216.0
118676        Dmitry Musersky      219.0
120266           Zhang Zhaoxu      221.0
121694            Salah Mejri      216.0
123850         Tyson Chandler      216.0
130460               Li Muhao      218.0
130461                Zhou Qi      217.0
138671          Ondřej Balvín      216.0
139365         Moustapha Fall      218.0

In [97]:
bios[bios['name'].str.contains(r'sens$|$sons', case=False, na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
4692,4709,Ko Janssens,1889-12-20,Rotterdam,Zuid-Holland,NED,Netherlands,NaN,NaN,1970-08-21
9072,9123,Theo Claessens,1948-12-18,Niel,Antwerpen,BEL,Belgium,188.0,83.0,NaN
9086,9137,Patrick Hanssens,1956-06-06,Antwerpen (Antwerp),Antwerpen,BEL,Belgium,184.0,80.0,NaN
13785,13872,Rudi Ceyssens,1962-07-19,Koersel,Limburg,BEL,Belgium,189.0,85.0,2015-12-20
13862,13949,Frédéric Claessens,1896-02-09,Niel,Antwerpen,BEL,Belgium,NaN,NaN,NaN
14790,14890,Bernard Janssens,1895-08-18,Hoboken,Antwerpen,BEL,Belgium,NaN,NaN,NaN
17546,17666,Louis Diercxsens,1898-09-28,Antwerpen (Antwerp),Antwerpen,BEL,Belgium,NaN,NaN,1992-04-21
17560,17680,Roger Goossens,1926-12-07,Bruxelles (Brussels),Région de Bruxelles-Capitale,BEL,Belgium,182.0,80.0,2019-12-21
29192,29406,François Claessens,1897-10-02,Berchem,Antwerpen,BEL,Belgium,NaN,NaN,1971-09-29
29193,29407,Jean-Baptiste Claessens,NaN,NaN,NaN,NaN,Belgium,NaN,NaN,NaN
32933,33181,Heidi Goossens,1969-04-13,Herentals,Antwerpen,BEL,Belgium,161.0,52.0,NaN
35453,35730,Ben Piessens,1912-02-23,Hemiksem,Antwerpen,BEL,Belgium,NaN,NaN,1975-12-24
40958,41269,Conrad Adriaenssens,1871-09-25,Antwerpen (Antwerp),Antwerpen,BEL,Belgium,NaN,NaN,NaN
40992,41306,Joseph Janssens,NaN,NaN,NaN,NaN,Belgium,NaN,NaN,NaN
45107,45450,Colette Goossens,1942-06-02,Roubaix,Nord,FRA,Belgium,NaN,NaN,NaN
45113,45456,Christelle Janssens,1972-02-26,Arlon,Luxembourg,BEL,Belgium,163.0,61.0,NaN
54841,55235,J. Adriaenssens,NaN,NaN,NaN,NaN,Belgium,NaN,NaN,NaN
56894,57299,Frits Janssens,1892-03-14,Berchem,Antwerpen,BEL,Belgium,NaN,NaN,1965-03-30
61189,61634,Kurts Klāsens,1893-09-03,Rīga,Rīga,LAT,Latvia,NaN,NaN,NaN
64726,65214,Walter Herssens,1930-02-15,Brugge (Bruges),West-Vlaanderen,BEL,Belgium,NaN,NaN,1992-01-14
64731,65219,Daniel Janssens,1925-12-02,Petegem-aan-de-Leie,Oost-Vlaanderen,BEL,Belgium,171.0,62.0,2004-10-06
85457,86138,Jean-Maurice Goossens,1892-01-16,Seraing,Liège,BEL,Belgium,NaN,NaN,1965-07-06
91858,92589,Robert Sens,1977-10-29,Schwerin,Mecklenburg-Vorpommern,GER,Germany,200.0,95.0,NaN
100916,101780,Ward Janssens,1982-07-13,Brugge (Bruges),West-Vlaanderen,BEL,Belgium,178.0,72.0,NaN
103281,104257,Catriona Oliver-Sens,1980-04-02,Sale,Victoria,AUS,Australia,183.0,70.0,NaN
123517,125718,Dion Dreesens,1993-04-30,Venray,Limburg,NED,Netherlands,195.0,88.0,NaN
130025,132676,Dennis Goossens,1993-12-16,Lokeren,Oost-Vlaanderen,BEL,Belgium,160.0,65.0,NaN
136428,139654,Sanne Claessens,2004-01-05,NaN,NaN,NaN,Netherlands,NaN,NaN,NaN
138030,141417,Hillary Janssens,1994-07-21,Surrey,British Columbia,CAN,Canada,NaN,NaN,NaN
139101,142551,Marc Recasens,1999-09-13,Barcelona,Barcelona,ESP,Spain,177.0,76.0,NaN

In [104]:
born19x = bios[bios['born_date'].str.contains(r"^19", na=False)]

In [105]:
born19x

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,NaN,NaN,1987-04-02
14,15,Damien Éloi,1969-07-04,Vire,Calvados,FRA,France,165.0,58.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145492,149219,Carlos García-Ordóñez,1927-04-24,La Habana (Havana),Ciudad de La Habana,CUB,Cuba,NaN,NaN,2019-11-24
145493,149220,Landysh Falyakhova,1998-08-31,Dva Polya Artash,Respublika Tatarstan,RUS,ROC,NaN,NaN,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [106]:
characters7 = bios[bios['name'].str.contains(r"^.{7}$", na=False)]

In [107]:
characters7

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
366,367,Vi Muir,1934-11-04,Duncan,British Columbia,CAN,Canada,170.0,NaN,NaN
381,382,He Ying,1977-04-17,Siping,Jilin,CHN,People's Republic of China,170.0,68.0,NaN
394,395,Hao Wei,1968-10-30,NaN,NaN,NaN,People's Republic of China,184.0,70.0,NaN
646,649,Ding Yi,1959-01-14,Shanghai,Shanghai,CHN,Austria,166.0,68.0,NaN
776,780,Chen Li,1971-03-13,Xiangtan,Hunan,CHN,People's Republic of China,165.0,60.0,NaN
...,...,...,...,...,...,...,...,...,...,...
144401,148091,Liu Jie,1995-04-23,Vancouver,British Columbia,CAN,People's Republic of China,180.0,88.0,NaN
144402,148092,Luo Jia,1992-11-01,Burnaby,British Columbia,CAN,People's Republic of China,179.0,82.0,NaN
144422,148113,Rong Ge,2002-08-03,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN
144430,148121,Li Yuxi,1998-09-24,Mianyang,Sichuan,CHN,People's Republic of China,NaN,NaN,NaN
145483,149210,Feng He,2004-03-31,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN

In [108]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [115]:
bios[bios['born_region'].isin(['Gironde', 'Kelsea']) & bios['name'].str.contains('kelsea')]

Empty DataFrame
Columns: [athlete_id, name, born_date, born_city, born_region, born_country, NOC, height_cm, weight_kg, died_date]
Index: []

In [121]:
usaAtlethes = bios.query('born_country == "USA" and born_city == "Seattle"')

In [122]:
print(usaAtlethes)

        athlete_id                   name   born_date born_city born_region  \
11030        11088          David Halpern  1955-08-18   Seattle  Washington
12800        12870            Todd Trewin  1958-04-20   Seattle  Washington
15476        15583         Scott McKinley  1968-10-15   Seattle  Washington
29079        29293            Joyce Tanac  1950-09-27   Seattle  Washington
31135        31371        Bill Kuhlemeier  1908-01-14   Seattle  Washington
...            ...                    ...         ...       ...         ...
133392      136331          Hans Struzyna  1989-03-31   Seattle  Washington
135448      138662  Maude Davis Crossland  2003-03-19   Seattle  Washington
136993      140229        Jenell Berhorst  2003-12-13   Seattle  Washington
143507      147159         Nevin Harrison  2002-06-02   Seattle  Washington
145446      149169       Corinne Stoddard  2001-08-15   Seattle  Washington

       born_country            NOC  height_cm  weight_kg   died_date
11030           USA  United States      178.0       79.0         NaN
12800           USA  United States      180.0       75.0         NaN
15476           USA  United States      183.0       75.0         NaN
29079           USA  United States      156.0       49.0         NaN
31135           USA  United States        NaN        NaN  2001-07-08
...             ...            ...        ...        ...         ...
133392          USA  United States      188.0       91.0         NaN
135448          USA       Colombia        NaN        NaN         NaN
136993          USA  United States        NaN        NaN         NaN
143507          USA  United States      175.0       73.0         NaN
145446          USA  United States        NaN        NaN         NaN

[102 rows x 10 columns]

In [123]:
coffee['price'] = 4.99

In [124]:
coffee.head()

                 Day Coffee Type  Units Sold  price
Day
Monday        Monday    Espresso          20   4.99
Monday        Monday       Latte          20   4.99
Tuesday      Tuesday    Espresso          30   4.99
Tuesday      Tuesday       Latte          20   4.99
Wednesday  Wednesday    Espresso          35   4.99

In [127]:
import numpy as np
coffee['new_price'] = np.where(coffee["Coffee Type"] == "Espresso", 3.99, 5.99)

In [128]:
coffee.head()

                 Day Coffee Type  Units Sold  price  new_price
Day
Monday        Monday    Espresso          20   4.99       3.99
Monday        Monday       Latte          20   4.99       5.99
Tuesday      Tuesday    Espresso          30   4.99       3.99
Tuesday      Tuesday       Latte          20   4.99       5.99
Wednesday  Wednesday    Espresso          35   4.99       3.99

In [129]:
coffee.drop(columns=['new_price'], inplace=True)

In [130]:
coffee.head()

                 Day Coffee Type  Units Sold  price
Day
Monday        Monday    Espresso          20   4.99
Monday        Monday       Latte          20   4.99
Tuesday      Tuesday    Espresso          30   4.99
Tuesday      Tuesday       Latte          20   4.99
Wednesday  Wednesday    Espresso          35   4.99

In [131]:
bios_new = bios.copy()

In [134]:
bios_new['first_name'] = bios_new['name'].str.split(' ').str[0]

In [135]:
bios_new.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Jean-François
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Arnaud
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Jean
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Jacques
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Albert

In [137]:
bios_new.query('first_name == "Keith"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN,Keith
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31,Keith
6228,6255,Keith Hartley,1940-10-15,Vancouver,British Columbia,CAN,Canada,200.0,85.0,NaN,Keith
8898,8946,Keith Mwila,1966-01-01,NaN,NaN,NaN,Zambia,NaN,NaN,1993-01-09,Keith
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22,Keith
...,...,...,...,...,...,...,...,...,...,...,...
99921,100722,Keith Carney,1970-02-03,Providence,Rhode Island,USA,United States,188.0,93.0,NaN,Keith
102227,103168,Keith Beavers,1983-02-09,London,Ontario,CAN,Canada,185.0,75.0,NaN,Keith
109900,111105,Keith Cumberpatch,1927-08-25,Christchurch,Canterbury,NZL,New Zealand,NaN,NaN,2013-11-15,Keith
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN,Keith
122121,124176,Keith Ferguson,1979-09-07,Sale,Victoria,AUS,Australia,176.0,78.0,NaN,Keith

In [138]:
bios_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
 10  first_name    145500 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 12.2+ MB

In [139]:
bios_new['born_at_datetime'] = pd.to_datetime(bios_new['born_date'])

In [140]:
bios_new.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name,born_at_datetime
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Jean-François,1886-12-12
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Arnaud,1969-04-01
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Jean,1898-08-13
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Jacques,1895-05-11
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Albert,1878-04-17

In [141]:
bios_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   athlete_id        145500 non-null  int64
 1   name              145500 non-null  object
 2   born_date         143693 non-null  object
 3   born_city         110908 non-null  object
 4   born_region       110908 non-null  object
 5   born_country      110908 non-null  object
 6   NOC               145499 non-null  object
 7   height_cm         106651 non-null  float64
 8   weight_kg         102070 non-null  float64
 9   died_date         33940 non-null   object
 10  first_name        145500 non-null  object
 11  born_at_datetime  143693 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 13.3+ MB

In [143]:
bios_new['born_year'] = bios_new['born_at_datetime'].dt.year
bios_new.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name,born_at_datetime,born_year
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Jean-François,1886-12-12,1886.0
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Arnaud,1969-04-01,1969.0
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Jean,1898-08-13,1898.0
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Jacques,1895-05-11,1895.0
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Albert,1878-04-17,1878.0

In [146]:
bios_new[['name', 'born_year']]

                         name  born_year
0       Jean-François Blanchy     1886.0
1              Arnaud Boetsch     1969.0
2                Jean Borotra     1898.0
3             Jacques Brugnon     1895.0
4                Albert Canet     1878.0
...                       ...        ...
145495      Polina Luchnikova     2002.0
145496    Valeriya Merkusheva     1999.0
145497        Yuliya Smirnova     1998.0
145498         André Foussard     1899.0
145499          Bill Phillips     1913.0

[145500 rows x 2 columns]

In [147]:
bios_new.to_csv('./data/bios_new.csv', index=False)

In [148]:
def categorize_height(height):
	if height < 165:
		return 'Short'
	elif height < 200:
		return 'Average'
	else:
		return 'Tall'

bios['height_category'] = bios['height_cm'].apply(categorize_height)

In [149]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Tall
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Average
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Average
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Average
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Tall
...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Average
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Average
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Short
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,Average
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Tall

In [155]:
def categorize_athlete(row):
    if (row['height_cm'] < 175 and row['weight_kg'] < 70):
        return 'Lightweight'
    elif row['height_cm'] < 185 and row['weight_kg'] <= 80:
        return 'Middleweight'
    else:
        return "Heavy Weight"
    
bios['Category'] = bios.apply(categorize_athlete, axis=1)
# 1 means row and 0 means column

In [156]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category,Category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Tall,Heavy Weight
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Average,Middleweight
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Average,Middleweight
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Average,Lightweight
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Tall,Heavy Weight

In [157]:
nocs = pd.read_csv('./data/noc_regions.csv')

In [158]:
nocs.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [159]:
nocs['CMR']

KeyError: 'CMR'

In [160]:
nocs.head().query('region == "Cameroon"')

Empty DataFrame
Columns: [NOC, region, notes]
Index: []

In [162]:
nocs.query('region == "Cameroon"')

    NOC    region notes
43  CMR  Cameroon   NaN

In [163]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category,Category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Tall,Heavy Weight
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Average,Middleweight
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Average,Middleweight
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Average,Lightweight
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Tall,Heavy Weight

In [165]:
bios_new = pd.merge(bios, nocs, left_on='born_country', right_on='NOC', how='left')

In [166]:
bios_new

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,height_category,Category,NOC_y,region,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Tall,Heavy Weight,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Average,Middleweight,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Average,Middleweight,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Average,Lightweight,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Tall,Heavy Weight,GBR,UK,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Average,Lightweight,RUS,Russia,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Average,Lightweight,RUS,Russia,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Short,Lightweight,RUS,Russia,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,Average,Heavy Weight,FRA,France,NaN
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Tall,Heavy Weight,AUS,Australia,NaN

In [168]:
bios.rename(columns={'region': 'born_country_fullname'}, inplace=True)

In [169]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category,Category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Tall,Heavy Weight
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Average,Middleweight
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Average,Middleweight
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Average,Lightweight
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Tall,Heavy Weight
...,...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Average,Lightweight
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Average,Lightweight
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Short,Lightweight
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,Average,Heavy Weight
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Tall,Heavy Weight

In [171]:
usa = bios[bios['born_country'] == 'USA'] 
gbr = bios[bios['born_country'] == 'GBR']

In [174]:
new_df  = pd.concat([usa, gbr])

In [175]:
new_df

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category,Category
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN,Average,Middleweight
960,964,Xóchitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN,Average,Lightweight
961,965,Angélica Gavaldón,1973-10-03,El Centro,California,USA,Mexico,160.0,54.0,NaN,Short,Lightweight
1231,1238,Bert Schneider,1897-07-01,Cleveland,Ohio,USA,Canada,NaN,NaN,1986-02-20,Tall,Heavy Weight
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN,Average,Lightweight
...,...,...,...,...,...,...,...,...,...,...,...,...
144811,148512,Benjamin Alexander,1983-05-08,London,England,GBR,Jamaica,NaN,NaN,NaN,Tall,Heavy Weight
144815,148517,Ashley Watson,1993-10-28,Peterborough,England,GBR,Jamaica,NaN,NaN,NaN,Tall,Heavy Weight
145005,148716,Peder Kongshaug,2001-08-13,Wimbledon,England,GBR,Norway,184.0,86.0,NaN,Average,Heavy Weight
145319,149041,Axel Brown,1992-04-02,Harrogate,England,GBR,Trinidad and Tobago,NaN,NaN,NaN,Tall,Heavy Weight
145388,149111,Jean-Luc Baker,1993-10-07,Burnley,England,GBR,United States,NaN,NaN,NaN,Tall,Heavy Weight

In [176]:
results

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [177]:
results

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [178]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category,Category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Tall,Heavy Weight
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Average,Middleweight
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Average,Middleweight
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Average,Lightweight
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Tall,Heavy Weight
...,...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Average,Lightweight
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Average,Lightweight
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Short,Lightweight
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,Average,Heavy Weight
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Tall,Heavy Weight

In [179]:
combined_df = pd.merge(bios, results, on='athlete_id', how='left')

In [181]:
combined_df

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,...,year,type,discipline,event,as,noc,team,place,tied,medal
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,...,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,FRA,None,17.0,True,None
1,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,...,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,FRA,Jean Montariol,NaN,False,None
2,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,...,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,FRA,None,32.0,True,None
3,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,...,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,FRA,Jeanne Vaussard,8.0,True,None
4,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,...,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308641,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308642,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308643,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308644,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308645,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
coffee.head()

                 Day Coffee Type  Units Sold  price
Day
Monday        Monday    Espresso          20   4.99
Monday        Monday       Latte          20   4.99
Tuesday      Tuesday    Espresso          30   4.99
Tuesday      Tuesday       Latte          20   4.99
Wednesday  Wednesday    Espresso          35   4.99

In [193]:
coffee.index

Index(['Monday', 'Monday', 'Tuesday', 'Tuesday', 'Wednesday', 'Wednesday',
       'Thursday', 'Thursday', 'Friday', 'Friday', 'Saturday', 'Saturday',
       'Sunday', 'Sunday'],
      dtype='object', name='Day')

In [194]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [216]:
coffee.loc[[0, 1], 'Units Sold'] = np.nan

In [199]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso         NaN
1     Monday       Latte         NaN
2    Tuesday    Espresso        30.0
3    Tuesday       Latte        20.0
4  Wednesday    Espresso        35.0

In [219]:
coffee[coffee['Units Sold'].notna()]

          Day Coffee Type  Units Sold
2     Tuesday    Espresso  346.666667
3     Tuesday       Latte   20.000000
4   Wednesday    Espresso   35.000000
5   Wednesday       Latte   25.000000
6    Thursday    Espresso   40.000000
7    Thursday       Latte   30.000000
8      Friday    Espresso   45.000000
9      Friday       Latte   35.000000
10   Saturday    Espresso   45.000000
11   Saturday       Latte   35.000000
12     Sunday    Espresso   45.000000
13     Sunday       Latte   35.000000

In [220]:
coffee.dropna()

          Day Coffee Type  Units Sold
2     Tuesday    Espresso  346.666667
3     Tuesday       Latte   20.000000
4   Wednesday    Espresso   35.000000
5   Wednesday       Latte   25.000000
6    Thursday    Espresso   40.000000
7    Thursday       Latte   30.000000
8      Friday    Espresso   45.000000
9      Friday       Latte   35.000000
10   Saturday    Espresso   45.000000
11   Saturday       Latte   35.000000
12     Sunday    Espresso   45.000000
13     Sunday       Latte   35.000000

In [222]:
bios['born_city'].value_counts()

born_city
Budapest           1378
Moskva (Moscow)     883
Oslo                708
Stockholm           629
Praha (Prague)      600
                   ...
Kirovgrad             1
Pereiaslav            1
Podgornyy             1
Kudepsta              1
Furmanov              1
Name: count, Length: 22368, dtype: int64